

/* https://www.w3schools.com/howto/howto_css_dropdown.asp
    drop down button*/
.dropbtn1 {
    background-color: #4CAF50;
    color:white;
    padding:16px;
    font-size:16px;
    border: none;
}

.dropbtn2 {
    background-color: #4CAF50;
    color:white;
    padding:16px;
    font-size:16px;
    border: none;
    position: relative;
    left: 150px;
    top: -50px;
}

/* position the  dropdown content */
.dropodown1
{
    position:relative;
    display: inline-block;
}

.dropodown2
{
    position:relative;
    display: inline-block;
}

/* Dropdown content (hidden by default)*/
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown2-content {
    display: none;
    position: absolute;
    left: 150px;
    top: 60px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* inside the drop down*/
.dropdown1-content div
{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display:block;
}

.dropdown2-content div
{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display:block;
}
.dropdown-image
{
    object-fit:cover;
    height: 50px;
    width: 100px;
}

/* change color of drop down items on hover */
.dropdown1-content div:hover
{
    background-color:#ddd;
}

.dropdown2-content div:hover
{
    background-color:#ddd;
}


/* Show drop down menu on hover */
.dropdown1:hover .dropdown1-content 
{
    display: block;
}

.dropdown2:hover .dropdown2-content 
{
    display: block;
}


.stair1-top
{
    position: absolute;
    top:102px;
    left: 51px;
    width: 200px;
    height: 30px;
    transform: skewX(43deg);
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}

.stair1-front
{
    position:relative;
    top:19px;
    left: 57px;
    width: 200px;
    height: 45px;
    border-color: black;
    border-style: solid;
    border-width: 1px; 

}

.stair1-left
{
    position: relative;
    top: -43px;
    left: 28px;
    width: 28px;
    height: 44px;
    transform: skewX(20deg);
    transform: skewY(47deg);
    background-color: #ddd;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}


.stair2-top
{
    position: relative;
    top:-27px;
    left: 72px;
    width: 200px;
    height: 30px;
    transform: skewX(43deg);
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}

.stair2-front
{
    position:relative;
    top:-28px;
    left: 86px;
    width: 200px;
    height: 45px;
    border-color: black;
    border-style: solid;
    border-width: 1px; 

}

.stair2-left
{
    position: relative;
    top: -91px;
    left: 57px;
    width: 28px;
    height: 46px;
    transform: skewX(20deg);
    transform: skewY(47deg);
    background-color: #ddd;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
}



/*
 3D stair
.stair1
{
    width: 300px;
    height: 200px;
    perspective: 500px;
}

.box
{
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
}




.box-front, .box-back
{
    width:300px;
    height:200px;
    position: absolute;
}


.box-left, .box-right
{
    width:100px;
    height: 200px;
    left:100px;
    position: absolute;
}

.box-top, .box-bottom
{
    width: 300px;
    height: 100px;  
    top:50px;
    position: absolute;
}


.box-top
{
    transform: rotateY(0deg) translateZ(50px);
}

.box-back
{
    transform: rotateY(180deg) translateZ(50px);
}

.box-right
{
    transform: rotateY(90deg) translateZ(150px);
}

.box-left
{
    transform: rotateY(-90deg) translateZ(150px);
}

.box-top
{
    transform: rotateX(90deg) translateZ(100px);
}

.box-bottom
{
    transform: rotateX(-90deg) translateZ(100px);
} */